### Notebook to check study codelist for trimethoprim and nitrofurantoin data
- [OpenPrescribing trimethoprim BNF codes](#OPTRIM)
- [OpenPrescribing nitrofurantoin BNF codes](#OPNITRO)
- [OpenPrescribing final data](#OPFULL)
- [Study trimethoprim BNF codes](#STUDYTRIM)
- [Study co-trimoxazole BNF codes](#STUDYCOTRIM)
- [Study nitrofurantoin BNF codes](#STUDYNITRO)
- [Study final data](#STUDYFULL)
- [OpenPrescribing vs Study](#OPvsSTUDY)

In [1]:
from ebmdatalab import bq
import os
import pandas as pd
pd.set_option('display.max_rows', None)

<a id=’OPTRIM’></a>
### OpenPrescribing Trimethoprim BNF codes

In [31]:
#OpenPrescribing Trimethoprim BNF codes
sql = '''
SELECT
     CAST(month AS DATE) AS month,
     SUM(items) AS OPtrimethoprim
 FROM hscic.normalised_prescribing
 WHERE bnf_code IN ("0501080W0AAADAD", "0501080W0AAAEAE", "0501080W0AAAIAI", "0501080W0AAAMAM", "0501080W0AAANAN", "0501080W0BCACAI", "0501080W0BGABAE", "0501080W0BHAAAD", "0501080W0BHABAE")
 AND month >= '2019-01-01'
 GROUP BY month
 ORDER BY month'''

OPtrim = bq.cached_read(sql, csv_path=os.path.join('..','data','OPtrim.csv'))
OPtrim

         month  OPtrimethoprim
0   2019-01-01          152426
1   2019-02-01          133176
2   2019-03-01          141992
3   2019-04-01          131158
4   2019-05-01          138745
5   2019-06-01          130105
6   2019-07-01          134785
7   2019-08-01          139567
8   2019-09-01          135085
9   2019-10-01          141477
10  2019-11-01          133617
11  2019-12-01          130672
12  2020-01-01          139774
13  2020-02-01          121966
14  2020-03-01          129198
15  2020-04-01          131862
16  2020-05-01          123259
17  2020-06-01          126495
18  2020-07-01          132476
19  2020-08-01          119375
20  2020-09-01          129778
21  2020-10-01          134233
22  2020-11-01          132504
23  2020-12-01          138010
24  2021-01-01          123831
25  2021-02-01          114967
26  2021-03-01          128313
27  2021-04-01          116054
28  2021-05-01          114249
29  2021-06-01          120108
30  2021-07-01          124122
31  2021-08-01          120790
32  2021-09-01          128363
33  2021-10-01          124994
34  2021-11-01          128944
35  2021-12-01          130228
36  2022-01-01          127250
37  2022-02-01          118724
38  2022-03-01          131356
39  2022-04-01          117008

<a id=’OPNITRO’></a>
### OpenPrescribing nitrofurantoin BNF codes

In [24]:
#OpenPrescribing nitrofurantoin BNF codes
sql = '''
SELECT
     CAST(month AS DATE) AS month,
     SUM(items) AS OPnitrofurantoin
 FROM hscic.normalised_prescribing
 WHERE bnf_code IN ("0501130R0AAAAAA", "0501130R0AAABAB", "0501130R0AAACAC", "0501130R0AAADAD", "0501130R0AAAEAE", "0501130R0AAAGAG", "0501130R0AAAJAJ", "0501130R0AAAMAM", "0501130R0AAANAN", "0501130R0AAATAT", "0501130R0AAAUAU", "0501130R0AAAVAV", "0501130R0AABDBD", "0501130R0AABEBE", "0501130R0AABNBN", "0501130R0AABSBS", "0501130R0AACGCG", "0501130R0BBAAAD", "0501130R0BBABAE", "0501130R0BBACAC", "0501130R0BCAAAA", "0501130R0BCABAB", "0501130R0BGAAAG", "0501130R0BHAAAE", "0501130R0BHABAD")
 AND month >= '2019-01-01'
 GROUP BY month
 ORDER BY month'''

OPnitro = bq.cached_read(sql, csv_path=os.path.join('..','data','OPnitro.csv'))
OPnitro

         month  OPnitrofurantoin
0   2019-01-01            360236
1   2019-02-01            314762
2   2019-03-01            343045
3   2019-04-01            322109
4   2019-05-01            345123
5   2019-06-01            333050
6   2019-07-01            355237
7   2019-08-01            373254
8   2019-09-01            361110
9   2019-10-01            381483
10  2019-11-01            349324
11  2019-12-01            343585
12  2020-01-01            372978
13  2020-02-01            328300
14  2020-03-01            339500
15  2020-04-01            343711
16  2020-05-01            324619
17  2020-06-01            342845
18  2020-07-01            366211
19  2020-08-01            335502
20  2020-09-01            364427
21  2020-10-01            378044
22  2020-11-01            368316
23  2020-12-01            376763
24  2021-01-01            346154
25  2021-02-01            322929
26  2021-03-01            352184
27  2021-04-01            312946
28  2021-05-01            305005
29  2021-06-01            329354
30  2021-07-01            351294
31  2021-08-01            352080
32  2021-09-01            364227
33  2021-10-01            350834
34  2021-11-01            359383
35  2021-12-01            360740
36  2022-01-01            352750
37  2022-02-01            325808
38  2022-03-01            353517
39  2022-04-01            313933

<a id=’OPFULL’></a>
### OpenPrescribing final data

In [34]:
OP_DF = pd.merge(OPtrim,OPnitro,on='month',how='left')
OP_DF['OPtrim+OPnitro'] = OP_DF['OPtrimethoprim'] + OP_DF['OPnitrofurantoin']
OP_DF['OPtrim_percent'] = OP_DF['OPtrimethoprim'] / OP_DF['OPtrim+OPnitro']
OP_DF

,month,OPtrimethoprim,OPnitrofurantoin,OPtrim+OPnitro,OPtrim_percent
0,2019-01-01,152426,360236,512662,0.297323
1,2019-02-01,133176,314762,447938,0.297309
2,2019-03-01,141992,343045,485037,0.292745
3,2019-04-01,131158,322109,453267,0.289361
4,2019-05-01,138745,345123,483868,0.286741
5,2019-06-01,130105,333050,463155,0.280910
6,2019-07-01,134785,355237,490022,0.275059
7,2019-08-01,139567,373254,512821,0.272155
8,2019-09-01,135085,361110,496195,0.272242
9,2019-10-01,141477,381483,522960,0.270531
10,2019-11-01,133617,349324,482941,0.276674
11,2019-12-01,130672,343585,474257,0.275530
12,2020-01-01,139774,372978,512752,0.272596
13,2020-02-01,121966,328300,450266,0.270875
14,2020-03-01,129198,339500,468698,0.275653
15,2020-04-01,131862,343711,475573,0.277270
16,2020-05-01,123259,324619,447878,0.275207
17,2020-06-01,126495,342845,469340,0.269517
18,2020-07-01,132476,366211,498687,0.265650
19,2020-08-01,119375,335502,454877,0.262434
20,2020-09-01,129778,364427,494205,0.262600
21,2020-10-01,134233,378044,512277,0.262032
22,2020-11-01,132504,368316,500820,0.264574
23,2020-12-01,138010,376763,514773,0.268099
24,2021-01-01,123831,346154,469985,0.263479
25,2021-02-01,114967,322929,437896,0.262544
26,2021-03-01,128313,352184,480497,0.267042
27,2021-04-01,116054,312946,429000,0.270522
28,2021-05-01,114249,305005,419254,0.272505
29,2021-06-01,120108,329354,449462,0.267226
30,2021-07-01,124122,351294,475416,0.261081
31,2021-08-01,120790,352080,472870,0.255440
32,2021-09-01,128363,364227,492590,0.260588
33,2021-10-01,124994,350834,475828,0.262687
34,2021-11-01,128944,359383,488327,0.264053
35,2021-12-01,130228,360740,490968,0.265247
36,2022-01-01,127250,352750,480000,0.265104
37,2022-02-01,118724,325808,444532,0.267076
38,2022-03-01,131356,353517,484873,0.270908
39,2022-04-01,117008,313933,430941,0.271517

<a id=’STUDYTRIM’></a>
### Study trimethoprim BNF codes

In [28]:
#Study Trimethoprim BNF codes
sql = '''
SELECT
     CAST(month AS DATE) AS month,
     SUM(items) AS Studytrimethoprim
 FROM hscic.normalised_prescribing
 WHERE bnf_code IN ("0501080W0AAAPAP", "0501080W0AAAAAA", "0501080W0BHABAE", "0501080W0AAAEAE", "0501080W0BHAAAD", "0501080W0AAAIAI", "0501080W0BCAAAD", "0501080W0BCACAI", "0501080W0AAADAD", "0501080W0BCABAE", "0501080W0BGABAE", "0501080W0AAANAN", "0501080W0AAAMAM", "0501080W0AAAQAQ", "0501080W0BCADAA", "0501080W0BGAAAD")
 AND month >= '2019-01-01'
 GROUP BY month
 ORDER BY month'''

Studytrim = bq.cached_read(sql, csv_path=os.path.join('..','data','Studytrim.csv'))
Studytrim

         month  Studytrimethoprim
0   2019-01-01             152426
1   2019-02-01             133176
2   2019-03-01             141992
3   2019-04-01             131158
4   2019-05-01             138745
5   2019-06-01             130105
6   2019-07-01             134785
7   2019-08-01             139567
8   2019-09-01             135085
9   2019-10-01             141477
10  2019-11-01             133617
11  2019-12-01             130672
12  2020-01-01             139774
13  2020-02-01             121966
14  2020-03-01             129198
15  2020-04-01             131862
16  2020-05-01             123259
17  2020-06-01             126495
18  2020-07-01             132476
19  2020-08-01             119375
20  2020-09-01             129778
21  2020-10-01             134233
22  2020-11-01             132504
23  2020-12-01             138010
24  2021-01-01             123831
25  2021-02-01             114967
26  2021-03-01             128313
27  2021-04-01             116054
28  2021-05-01             114249
29  2021-06-01             120108
30  2021-07-01             124122
31  2021-08-01             120790
32  2021-09-01             128363
33  2021-10-01             124994
34  2021-11-01             128944
35  2021-12-01             130228
36  2022-01-01             127250
37  2022-02-01             118724
38  2022-03-01             131356
39  2022-04-01             117008

<a id=’STUDYCOTRIM’></a>
### Study co-trimoxazole BNF codes

In [29]:
#Study Co-trimoxazole BNF codes
sql = '''
SELECT
     CAST(month AS DATE) AS month,
     SUM(items) AS Studycotrimoxazole
 FROM hscic.normalised_prescribing
 WHERE bnf_code IN ("0501080D0AAABAB", "0501080D0BGACAJ", "0501080D0AAATAT", "0501080D0AAAHAH", "0501080D0BGAAAH", "0501080D0AAAJAJ", "0501080D0BGAHAB", "0501080D0BGAFAC", "0501080D0AAAEAE", "0501080D0AAACAC", "0501080D0BGAEAE")
 AND month >= '2019-01-01'
 GROUP BY month
 ORDER BY month'''

StudyCotrim = bq.cached_read(sql, csv_path=os.path.join('..','data','StudyCotrim.csv'))
StudyCotrim

         month  Studycotrimoxazole
0   2019-01-01               14570
1   2019-02-01               13259
2   2019-03-01               14131
3   2019-04-01               14140
4   2019-05-01               14989
5   2019-06-01               14163
6   2019-07-01               14697
7   2019-08-01               15519
8   2019-09-01               14648
9   2019-10-01               15795
10  2019-11-01               15126
11  2019-12-01               15977
12  2020-01-01               16200
13  2020-02-01               14643
14  2020-03-01               17483
15  2020-04-01               17170
16  2020-05-01               15495
17  2020-06-01               15671
18  2020-07-01               16085
19  2020-08-01               14567
20  2020-09-01               16084
21  2020-10-01               16418
22  2020-11-01               15812
23  2020-12-01               17083
24  2021-01-01               16042
25  2021-02-01               14738
26  2021-03-01               16342
27  2021-04-01               15751
28  2021-05-01               15230
29  2021-06-01               16042
30  2021-07-01               16524
31  2021-08-01               16095
32  2021-09-01               16831
33  2021-10-01               16291
34  2021-11-01               16901
35  2021-12-01               18306
36  2022-01-01               17220
37  2022-02-01               15960
38  2022-03-01               17705
39  2022-04-01               16848

<a id=’STUDYNITRO’></a>
### Study nitrofurantoin BNF codes

In [30]:
#Study nitrofurantoin BNF codes
sql = '''
SELECT
     CAST(month AS DATE) AS month,
     SUM(items) AS Studynitrofurantoin
 FROM hscic.normalised_prescribing
 WHERE bnf_code IN ("0501130R0BHAAAE", "0501130R0BBABAE", "0501130R0BGAAAG", "0501130R0AACGCG", "0501130R0AAATAT", "0501130R0AABJBJ", "0501130R0AABABA", "0501130R0AAAWAW", "0501130R0BHABAD", "0501130R0AAACAC", "0501130R0AABYBY", "0501130R0AAAUAU", "0501130R0AAAEAE", "0501130R0AABVBV", "0501130R0AABTBT", "0501130R0BCABAB", "0501130R0AAAZAZ", "0501130R0AABUBU", "0501130R0AAALAL", "0501130R0AABCBC", "0501130R0BBACAC", "0501130R0BDABAE", "0501130R0AAARAR", "0501130R0AABGBG", "0501130R0AAAPAP", "0501130R0AAAQAQ", "0501130R0AABWBW", "0501130R0AAAXAX", "0501130R0AACECE", "0501130R0AABSBS", "0501130R0AABDBD", "0501130R0AAADAD", "0501130R0AACJCJ", "0501130R0AABKBK", "0501130R0AABEBE", "0501130R0AAAMAM", "0501130R0AACDCD", "0501130R0AAAAAA", "0501130R0AABLBL", "0501130R0AABIBI", "0501130R0AABXBX", "0501130R0BCAAAA", "0501130R0AAASAS", "0501130R0AABNBN", "0501130R0BBAAAD", "0501130R0AAAVAV", "0501130R0AABRBR", "0501130R0AACICI", "0501130R0AABPBP", "0501130R0AAABAB", "0501130R0AAAGAG", "0501130R0BDAAAD", "0501130R0AAAJAJ", "0501130R0AABBBB", "0501130R0AAANAN", "0501130R0AABQBQ")
 AND month >= '2019-01-01'
 GROUP BY month
 ORDER BY month'''

Studynitro = bq.cached_read(sql, csv_path=os.path.join('..','data','Studynitro.csv'))
Studynitro

         month  Studynitrofurantoin
0   2019-01-01               360236
1   2019-02-01               314762
2   2019-03-01               343045
3   2019-04-01               322109
4   2019-05-01               345123
5   2019-06-01               333050
6   2019-07-01               355237
7   2019-08-01               373254
8   2019-09-01               361110
9   2019-10-01               381483
10  2019-11-01               349324
11  2019-12-01               343585
12  2020-01-01               372978
13  2020-02-01               328300
14  2020-03-01               339500
15  2020-04-01               343711
16  2020-05-01               324619
17  2020-06-01               342845
18  2020-07-01               366211
19  2020-08-01               335502
20  2020-09-01               364427
21  2020-10-01               378044
22  2020-11-01               368316
23  2020-12-01               376763
24  2021-01-01               346154
25  2021-02-01               322929
26  2021-03-01               352184
27  2021-04-01               312946
28  2021-05-01               305005
29  2021-06-01               329354
30  2021-07-01               351294
31  2021-08-01               352080
32  2021-09-01               364227
33  2021-10-01               350834
34  2021-11-01               359383
35  2021-12-01               360740
36  2022-01-01               352750
37  2022-02-01               325808
38  2022-03-01               353517
39  2022-04-01               313933

<a id=’STUDYFULL’></a>
### Study full data

In [35]:
#Join trim containing study results
STUDY_DF = pd.merge(Studytrim, StudyCotrim ,on='month',how='left')
#Sum all trimethoprim containing
STUDY_DF['StudyTrim+Cotrim'] = STUDY_DF['Studytrimethoprim'] + STUDY_DF['Studycotrimoxazole']

#Join nitrofurantoin results
STUDY_DF = pd.merge(STUDY_DF, Studynitro ,on='month',how='left')

STUDY_DF['StudyTrim+Nitro'] = STUDY_DF['Studytrimethoprim'] + STUDY_DF['Studynitrofurantoin']
STUDY_DF['StudyTrim+Cotrim+Nitro'] = STUDY_DF['Studytrimethoprim'] + STUDY_DF['Studycotrimoxazole'] + STUDY_DF['Studynitrofurantoin']

STUDY_DF['Studytrim_percent'] = STUDY_DF['Studytrimethoprim'] / STUDY_DF['StudyTrim+Nitro']
STUDY_DF['Studytrim+cotrim_percent'] = STUDY_DF['StudyTrim+Cotrim'] / STUDY_DF['StudyTrim+Cotrim+Nitro']

STUDY_DF

,month,Studytrimethoprim,Studycotrimoxazole,StudyTrim+Cotrim,Studynitrofurantoin,StudyTrim+Nitro,StudyTrim+Cotrim+Nitro,Studytrim_percent,Studytrim+cotrim_percent
0,2019-01-01,152426,14570,166996,360236,512662,527232,0.297323,0.316741
1,2019-02-01,133176,13259,146435,314762,447938,461197,0.297309,0.317511
2,2019-03-01,141992,14131,156123,343045,485037,499168,0.292745,0.312766
3,2019-04-01,131158,14140,145298,322109,453267,467407,0.289361,0.310860
4,2019-05-01,138745,14989,153734,345123,483868,498857,0.286741,0.308172
5,2019-06-01,130105,14163,144268,333050,463155,477318,0.280910,0.302247
6,2019-07-01,134785,14697,149482,355237,490022,504719,0.275059,0.296169
7,2019-08-01,139567,15519,155086,373254,512821,528340,0.272155,0.293534
8,2019-09-01,135085,14648,149733,361110,496195,510843,0.272242,0.293110
9,2019-10-01,141477,15795,157272,381483,522960,538755,0.270531,0.291917
10,2019-11-01,133617,15126,148743,349324,482941,498067,0.276674,0.298641
11,2019-12-01,130672,15977,146649,343585,474257,490234,0.275530,0.299141
12,2020-01-01,139774,16200,155974,372978,512752,528952,0.272596,0.294874
13,2020-02-01,121966,14643,136609,328300,450266,464909,0.270875,0.293840
14,2020-03-01,129198,17483,146681,339500,468698,486181,0.275653,0.301700
15,2020-04-01,131862,17170,149032,343711,475573,492743,0.277270,0.302454
16,2020-05-01,123259,15495,138754,324619,447878,463373,0.275207,0.299443
17,2020-06-01,126495,15671,142166,342845,469340,485011,0.269517,0.293119
18,2020-07-01,132476,16085,148561,366211,498687,514772,0.265650,0.288596
19,2020-08-01,119375,14567,133942,335502,454877,469444,0.262434,0.285321
20,2020-09-01,129778,16084,145862,364427,494205,510289,0.262600,0.285842
21,2020-10-01,134233,16418,150651,378044,512277,528695,0.262032,0.284949
22,2020-11-01,132504,15812,148316,368316,500820,516632,0.264574,0.287082
23,2020-12-01,138010,17083,155093,376763,514773,531856,0.268099,0.291607
24,2021-01-01,123831,16042,139873,346154,469985,486027,0.263479,0.287789
25,2021-02-01,114967,14738,129705,322929,437896,452634,0.262544,0.286556
26,2021-03-01,128313,16342,144655,352184,480497,496839,0.267042,0.291151
27,2021-04-01,116054,15751,131805,312946,429000,444751,0.270522,0.296357
28,2021-05-01,114249,15230,129479,305005,419254,434484,0.272505,0.298006
29,2021-06-01,120108,16042,136150,329354,449462,465504,0.267226,0.292479
30,2021-07-01,124122,16524,140646,351294,475416,491940,0.261081,0.285901
31,2021-08-01,120790,16095,136885,352080,472870,488965,0.255440,0.279948
32,2021-09-01,128363,16831,145194,364227,492590,509421,0.260588,0.285018
33,2021-10-01,124994,16291,141285,350834,475828,492119,0.262687,0.287095
34,2021-11-01,128944,16901,145845,359383,488327,505228,0.264053,0.288672
35,2021-12-01,130228,18306,148534,360740,490968,509274,0.265247,0.291658
36,2022-01-01,127250,17220,144470,352750,480000,497220,0.265104,0.290555
37,2022-02-01,118724,15960,134684,325808,444532,460492,0.267076,0.292478
38,2022-03-01,131356,17705,149061,353517,484873,502578,0.270908,0.296593
39,2022-04-01,117008,16848,133856,313933,430941,447789,0.271517,0.298927

<a id=’OPvsSTUDY’></a>
### OpenPrescribing vs Study

In [39]:
FINAL_DF = OP_DF[['month', 'OPtrim_percent']]
FINAL_DF = pd.merge(FINAL_DF, STUDY_DF[['month', 'Studytrim_percent', 'Studytrim+cotrim_percent']] ,on='month',how='left')
FINAL_DF

         month  OPtrim_percent  Studytrim_percent  Studytrim+cotrim_percent
0   2019-01-01        0.297323           0.297323                  0.316741
1   2019-02-01        0.297309           0.297309                  0.317511
2   2019-03-01        0.292745           0.292745                  0.312766
3   2019-04-01        0.289361           0.289361                  0.310860
4   2019-05-01        0.286741           0.286741                  0.308172
5   2019-06-01        0.280910           0.280910                  0.302247
6   2019-07-01        0.275059           0.275059                  0.296169
7   2019-08-01        0.272155           0.272155                  0.293534
8   2019-09-01        0.272242           0.272242                  0.293110
9   2019-10-01        0.270531           0.270531                  0.291917
10  2019-11-01        0.276674           0.276674                  0.298641
11  2019-12-01        0.275530           0.275530                  0.299141
12  2020-01-01        0.272596           0.272596                  0.294874
13  2020-02-01        0.270875           0.270875                  0.293840
14  2020-03-01        0.275653           0.275653                  0.301700
15  2020-04-01        0.277270           0.277270                  0.302454
16  2020-05-01        0.275207           0.275207                  0.299443
17  2020-06-01        0.269517           0.269517                  0.293119
18  2020-07-01        0.265650           0.265650                  0.288596
19  2020-08-01        0.262434           0.262434                  0.285321
20  2020-09-01        0.262600           0.262600                  0.285842
21  2020-10-01        0.262032           0.262032                  0.284949
22  2020-11-01        0.264574           0.264574                  0.287082
23  2020-12-01        0.268099           0.268099                  0.291607
24  2021-01-01        0.263479           0.263479                  0.287789
25  2021-02-01        0.262544           0.262544                  0.286556
26  2021-03-01        0.267042           0.267042                  0.291151
27  2021-04-01        0.270522           0.270522                  0.296357
28  2021-05-01        0.272505           0.272505                  0.298006
29  2021-06-01        0.267226           0.267226                  0.292479
30  2021-07-01        0.261081           0.261081                  0.285901
31  2021-08-01        0.255440           0.255440                  0.279948
32  2021-09-01        0.260588           0.260588                  0.285018
33  2021-10-01        0.262687           0.262687                  0.287095
34  2021-11-01        0.264053           0.264053                  0.288672
35  2021-12-01        0.265247           0.265247                  0.291658
36  2022-01-01        0.265104           0.265104                  0.290555
37  2022-02-01        0.267076           0.267076                  0.292478
38  2022-03-01        0.270908           0.270908                  0.296593
39  2022-04-01        0.271517           0.271517                  0.298927